@import 'base/reset.css';
@import 'base/variables.css';
@import 'base/typography.css';
@import 'layouts/header.css';
@import 'layouts/footer.css';
@import 'layouts/flexGrig.css';
@import '/css/components/article.css';
@import '/css/components/buttons.css';
@import '/css/components/cards.css';
@import '/css/components/images.css';
@import '/css/components/modal.css';
@import '/css/components/detail.css';


@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');



body {
  background-color: var(--dark-bg);
  color: var(--light-color);
  font-family: 'Rajdhani', sans-serif;
}


.markerGroup{
  display: flex;
  width: fit-content;
  height: fit-content;
  position-anchor: --anchor-marker;
  bottom: anchor(--anchor-marker bottom);
  left: anchor(--anchor-marker center);
  background-color: none;
  position: absolute;
}

.marker{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-left: 5px;
  display: inline;
  transition: all ease 1s;
}
.marker.active{
  width: 12px;
  height: 12px;
  background-color: var(--secondary-color);
}
