.header i {
  color: var(--secondary-color);
  font-size: 24px;
}

.header {
  overflow-x: visible;
  width: 100%;
  height: 70px;
  padding-left: var(--padding);
  padding-right: var(--padding);
  backdrop-filter: blur(15px);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 2px double var(--secondary-color);
}

.header .header-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header-nemu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: var(--min-gap);
  padding: var(--padding);
  height: 100%;
}

.header-nemu li {
  padding: 20px 0;
}

.header-nemu li a {
  display: block;
}

.header .active {
  border-bottom: 2px solid var(--primary-color);
}

.header-logo {
  color: var(--primary-color);
  font-size: 2rem;
  font-family: "Henny Penny", system-ui;
}

.header-logo span {
  color: var(--secondary-color);
}

.header-logo-container {
  height: 100%;
}


.header-nav-bar {
  padding: 0 0 0 3rem;
  background: var(--dark-bg);
  box-shadow: 0 0 10px var(--light-bg);
  width: 50%;
  position: fixed;
  right: 0;
  top: 70px;
  z-index: 10;
  transform: translateX(calc(100% + 20px));
  transition: 1s all ease;
  border-bottom-left-radius: 50%;
}

.header-nav-bar.active {
  transform: translateX(10px);
}

@media (min-width: 700px) {
  .header-nav-bar {
    position: initial;
    transform: translateX(0);
    padding: 0;
    box-shadow: none;
    border-radius: 0;
  }
  
  .header-nav-bar ul {
    padding: 0;
  }
  
  .header-nemu {
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  
  .header .mobile-menu-btn {
    display: none;
    pointer-events: none;
  }
  
}