div{
  width: 100%;
}
.fit-content{
  width: fit-content;
}

.flex{
  display: flex;
}

.item-center{
  align-items: center;
}
.center{
  justify-content: center;
  align-items: center;
}
.d-column{
  flex-direction: column;
}
.space-evenly{
  justify-content: space-evenly;
}
.space-between{
  justify-content: space-between;
}
.flex-end{
  align-self: flex-end;
}
.flex-start{
  align-self: flex-start;
}
.md-gap{
  gap: .9rem;
}


.grid{
  display: grid;
}
.grid-center{
  place-items: center;
}
.left-right > *:nth-child(odd){
  justify-self: start;

}
.left-right > *:nth-child(even){
  justify-self: end;
  
}

@media (min-width: 700px) {
  .l-grid{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    column-gap: 2rem;
  }
}

.leap-down{
  animation: leap-down 1s linear infinite;
}
.leap-up{
  animation: leap-up 1s linear infinite;
}
.leap-right{
  animation: leap-right 1s linear infinite;
}
.leap-left{
  animation: leap-left 1s linear i infinite;
}


.datail {
  background: transparent;
  overflow: hidden;
  border-radius: 10px;
  transition: all .7s ease;
  display: grid;
  grid-template-rows: 60px 0fr;
  
}

.summary {
  position: relative;
  background: var(--primary-color);
  line-height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 20px;
  font-size: 1em;
  overflow: hidden;
}
.summary:hover{
  background: var(--secondary-color);
}

.open {
  grid-template-rows: 60px 1fr;
}





@keyframes leap-down{
  to{
    transform: translateY(20px);
  }
}

@keyframes leap-up{
  to{
    transform: translateY(-20px);
  }
}

@keyframes leap-left{
  to{
    transform: translateX(20px);
  }
}

@keyframes leap-right{
  to{
    transform: translateX(-20px);
  }
}

