*, *::before, *::after{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html{
  scroll-behavior: smooth;
  overflow: scroll;
}

body{
  width: 100vw;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--text-color);
}

button, input, textarea, select{
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  outline: none;
  background: transparent;
}

button{
  cursor: pointer;
}
a{
  text-decoration: none;
  color: inherit;
}


li, ol{
  list-style: none;
}
p, h1, h2,h3,h4, h5, h6, hr, blockquote, dl, dd, figure{
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
  line-height: 1.5;
  display: block;
  width: 100%;
}


img, video{
  display: block; 
  max-width: 100%;
  height: auto;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}