.btn{
  background: var(--primary-color);
  clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
  padding: var(--min-padding);
  width: 90%;
  position: relative;
}

.btn::after{
  content: "";
  background: var(--secondary-color);
  width: 50px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 2px;
}

.btn:active{
  background: var(--secondary-color);
}