.btn{
  border-radius: var(--min-raduis);
  padding: var(--min-padding);
  width: 90%;
  position: relative;
}
.btn-bg{
  background: var(--primary-color);
}
.btn-bd{
  border: 2px double var(--primary-color);
}

.btn:active{
  background: var(--secondary-color);
}
.neo-btn{
  box-shadow: 0 0 10px var(--neo-cyan);
}