
.card-wrapper{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: var(--max-gap);
  padding: var(--padding);
  place-items: center;
  margin: 0 auto;
  width: 100%;
}

.card{
  display: grid;
  place-items: center;
  position: relative;
  gap: var(--min-gap);
  color: var(--light-color);
  border-radius: var(--raduis);
}

.neo-card{
  border: 2px solid var(--neo-cyan);
  box-shadow: var(--neo-shadow);
}

.card:hover {
  transform: translateY(-2px);
}

