
.wrapper{
  display: grid;
  grid-template-columns: 100%;
  gap: var(--max-gap);
  padding: 40px;
  place-items: center;
  margin: 0 auto;
  width: 100%;
}

.card{
  padding: var(--min-paddind);
  backdrop-filter: blur(15px);
  color: var(--light-color);
  border: 2px solid var(--neo-cyan);
  border-radius: var(--raduis);
  box-shadow: var(--neo-shadow);
  width: 100%;
  max-width: var(--max-width);
  min-height: var(--min-height);
}

.card{
  display: grid;
  grid-template-rows: 30px 1fr 50px;
  place-items: center;
  position: relative;
  gap: var(--min-gap);
}
.card:hover {
  transform: scale(1.05);
}

@media (min-width : 900px) {
  .wrapper{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width : 700px) {
  .wrapper{
    grid-template-columns: 1fr 1fr;
  }
}