.detail {
  display: grid;
  background: transparent;
  overflow: hidden;
  transition: all .7s ease;
  grid-template-rows: 60px 0fr;
  
}

.summary {
  position: relative;
  background: var(--primary-color);
  line-height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 20px;
  font-size: 1em;
  overflow: hidden;
}

.summary:hover {
  background: var(--secondary-color);
}

.open {
  grid-template-rows: 60px 1fr;
}