.modal-wrap{
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  transform: translateY(100vh);
  transition: transform 1s ease;
}
.modal-wrap.visible{
  transform: translateY(0);
}

.modal{
  width: 100%;
  max-width: 700px;
  height: 95%;
  max-height: 1000px;
  background: var(--dark-bg);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 0 5px #0EE4E278;
  align-self: flex-end;
  position: relative;
}

.close-modal{
  width: 50px;
  margin: 0 auto;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  color: var(--secondary-color);
}

.modal-content{
  flex-grow: 1;
  overflow: scroll;
  margin-bottom: 2rem;
}
.modal-images{
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  height: 280px;
  border-top: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  overflow: hidden;
}
.images-wrap{
  width: 100%;
  height: 100%;
  
}
.images-wrap img{
  flex-basis: 100%;
}
.modal-text{
  color: var(--text-color);
}