section {
  padding-top: 2rem;
}

i {
  color: var(--secondary-color);
}

.hero h3 {
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
}


.features {
  min-height: 100vh;
  width: 100vw;
}

.features div {
  margin-top: 1.5rem;
}

.features img {
  max-width: 500px;
  border-top: none;
}

.features button {
  max-width: 150px;
}

.features .fa-arrow-down{
  padding-bottom: 20px;
}

.features>* {
  direction: ltr;
}

.features div {
  margin-top: 0;
}

.features-content {
  grid-template-columns: 1fr;
  max-width: 524px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: visible;
}

.feature-item {
  border: 1.4px double var(--neo-cyan);
  border-radius: var(--raduis);
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 262px;
}

.feature-item h3{
  margin-bottom: 0;
  padding-bottom: 10px;
}
.feature-item:hover{
  transform: skewX(2deg);
  box-shadow: var(--neo-shadow);
}

.more-btn {
  height: 100px;
  width: 250px;
}

.more-btn .fa-arrow-right {
  font-size: 50px;
}

.more-btn button {
  max-width: 150px;
}


.article-description h3{
  margin: 0;
  margin-top: 1rem;
}
.article-buttons button{
  width: clamp(100px, 150px, 200px);
}
.article-image{
  width: 100%;
  height: 300px;
  background: var(--grey-color);
  border-radius: var(--raduis);
  overflow: hidden;
}

@media (min-width: 900px) {
  .features {
    min-height: auto;
    direction: rtl;
  }
}