section {
  padding-top: 2rem;
}

i {
  color: var(--secondary-color);
}

.hero h3 {
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
}

/*section feature*/

.features {
  min-height: 100vh;
  width: 100vw;
}

.features div {
  margin-top: 1.5rem;
}

.features img {
  max-width: 500px;
  border-top: none;
}

.features button {
  max-width: 150px;
}

.features .fa-arrow-down {
  padding-bottom: 20px;
}

.features>* {
  direction: ltr;
}

.features div {
  margin-top: 0;
}

.features-content {
  grid-template-columns: 1fr;
  max-width: 524px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: visible;
}

.feature-item {
  border: 1.4px double var(--neo-cyan);
  border-radius: var(--raduis);
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 262px;
}

.feature-item h3 {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.feature-item:hover {
  transform: skewX(2deg);
  box-shadow: var(--neo-shadow);
}



@media (min-width: 700px) {
  .features {
    min-height: auto;
    direction: rtl;
  }
}


/*bouton err*/

.err-message{
  color: var(--error-color);
  background: var(--light-color);
  padding: 20px;
}